 	#logo
	{		
		align-items: center;
	}
	


/*pc:*/
@media only screen and (min-width: 992px)
{ 
	#img
	{
		width: 93px;
		height: 93px;
	}

	#container
	{
		background-color: white;
		width: 80.5%;
		margin:0 auto;
		align-items: center;
		margin-top: 3%;
	}
	#label_menu
	{
		margin-left: 5px;
	}


	#tabLog
	{
		width: 30%;
	}

	#tabular
	{
		margin-left: -17px;
		margin-top: -15px;
	}
	#content
	{
		margin-top: -10%;
	}

	#provaImmagine
	{
		height: 20%;
		width: 20%;
	}
	body{
		background-color: grey;
	}
} 


/*smartphone verticali*/
@media only screen and (max-width: 600px) 
{
		#img
	{
		width: 93px;
		height: 93px;
	}
	#container
	{
		background-color: white;
		width: 80.5%;
		margin:0 auto;
		align-items: center;
		margin-top: 12%;
	}

	#tabLog
	{
		width: 70%;
		height: 10%;
		margin-top: -70%;
	}
	#tabular
	{
		margin-left: -13px;
		margin-top: -10px;
	}
	#label_menu
	{
		margin-left: 3px;
	}
	#content
	{
		margin-top: -10%;
	}
} 














/*Small devices (portrait tablets and phones in horizontal, 600px and up) 
@media only screen and (min-width: 600px) {...} 

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} 

 Extra large devices (large laptops and desktops, 1200px and up) 
 @media only screen and (min-width: 1200px) {...}*/

/*@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}*/