 /*pc:*/
 @media only screen and (min-width: 992px)
 { #log
 	{
 		margin-left: 92%;
 		margin-top: 10px;
 	}

 	#test
 	{
 		height: 20px;
 		width: 112px;
 		align-items: right;
 	}

 	#tabLog
 	{
		width: 30%;
 	}

 	#tabular
 	{
 		margin-left: -17px;
 		margin-top: -15px;
 	}
 }

 /*smartphone verticali*/
 @media only screen and (max-width: 600px) 
 {
 	#log
 	{
 		margin-left: 247px;
 		margin-top: 10px;
 	}

 	#test
 	{
 		height: 20px;
 		width: 115px;
 		align-items: right;
 		text-align: center;
 	}
 	 	#tabLog
 	{
		width: 70%;
 	}
 	 	#tabular
 	{
 		margin-left: -13px;
 		margin-top: -10px;
 	}
 } 














/*Small devices (portrait tablets and phones in horizontal, 600px and up) 
@media only screen and (min-width: 600px) {...} 

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} 

 Extra large devices (large laptops and desktops, 1200px and up) 
 @media only screen and (min-width: 1200px) {...}*/

/*@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}*/