h1{
    font-size: 250%;

}

.row
{
	margin-top: 1em;
}
#productDescription
{
	overflow-y: scroll;
	max-height: 95px;
}



	@media only screen and (min-width: 801px)
{ 
	#img
	{
		width: 93px;
		height: 93px;
	}

	#container
	{
		background-color: white;
		width: 80.5%;
		margin:0 auto;
		align-items: center;
		margin-top: 3%;
	}
}

@media only screen and (max-width: 800px) 
{
	#descriprionContainer
	{
		width: 150%;

	}

	
	#ingrandisci
	{
		width: 200%
	}

	#productImage
	{
		width: 200%

	}

	#productDescription
	{
margin-left : -10%;		width: 140%;
	}
	
	#container
	{
		background-color: white;
		width: 80.5%;
		margin:0 auto;
		align-items: center;
		margin-top: 12%;
	}
}