

.row
{
	margin-top: 1em;
}



@media only screen and (min-width: 800px)
{

	#COm
	{
		background-color: #cbd4db;
		border-radius: 10px;
	}

	#commenti
	{
		width: 95%;
		overflow-y: scroll;
		max-height: 300px;
		margin:0 auto;
	} 

	h1{
		font-size: 250%;

	}

	#img
	{
		width: 93px;
		height: 93px;
	}

	#container
	{
		background-color: white;
		width: 87.5%;
		margin:0 auto;
		align-items: center;
		margin-top: 3%;
	}
	#superContainer
	{
		background-color: grey;
	}
	#productDescription
	{
		overflow-y: scroll;
		max-height: 95px;
	}
}

@media only screen and (max-width: 600px) 
{

	::-webkit-scrollbar {
		display: none;
	}


	#COm
	{
		background-color: #cbd4db;
		border-radius: 10px;
	}

	#commenti
	{
		width: 95%;
		overflow-y: scroll;
		max-height: 200px;
		margin:0 auto;
	} 

	#descriprionContainer
	{
		width: 150%;

	}

	
	#ingrandisci
	{
		width: 200%
	}

	#productImage
	{
		width: 200%

	}

	#productDescription
	{
		margin-left : -10%;		width: 140%;
	}
	
	#container
	{
		background-color: white;
		width: auto%;
		margin:0 auto;
		align-items: center;
		margin-top: 12%;
	}
}

@media only screen and (min-width: 600px) 
{


	h1{
		font-size: 250%;

	}

	#img
	{
		width: 93px;
		height: 93px;
	}

	#container
	{
		background-color: white;
		width: 87.5%;
		margin:0 auto;
		align-items: center;
		margin-top: 3%;
	}
	#superContainer
	{
		background-color: grey;
	}
	#productDescription
	{
		overflow-y: scroll;
		max-height: 95px;
	}

} 